.temperature {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.weather {
    font-size: 30px;
    text-align: center;
}

.place {
    font-size: 20px;
    text-align: center;
}

.icon {
    font-family: 'weathericons';
    font-size: 100px;
    text-align: center;
}

.small-icon {
    font-family: 'weathericons';
    font-size: 18px;
    margin-right: 5px;
}

.details {
    margin-top: 20px;
    padding: 30px;
    font-size: 18px;
}

.label {
    font-weight: bold;
}

.details Label {
    padding: 5px 0;
}

Button {
    margin: 20px;
}